In [14]:
import pandas as pd

# Sample data with months in lexicographical order
data = {'month': ['Apr', 'Aug', 'Feb', 'Dec', 'Jun', 'Jan', 'Mar']}
df = pd.DataFrame(data)

# # Define the month order you want
month_order = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

# Create a new 'month_order' column with the desired order
df['month_order'] = pd.Categorical(df['month'], categories=month_order)


# # Sort the DataFrame by the 'month_order' column
df = df.sort_values(by='month_order')


# # Select the original 'month' column (optional)
df_sorted_months = df['month']


df

  month month_order
5   Jan         Jan
2   Feb         Feb
6   Mar         Mar
0   Apr         Apr
4   Jun         Jun
1   Aug         Aug
3   Dec         Dec